

.content {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}


.blog {
    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blog h1 {
    margin-top: 1em;
    margin-bottom: 0;

    overflow: hidden;
    color: var(--text-primary, #333);
    text-overflow: ellipsis;
    
    /* H1 48:56 */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */

}

.blog__img {
    width: 100%;
}

.blog p {
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.blog ul {
    list-style-type: none;
}

.blog ul li::before {
    content: url('../img/blog-imgs/marker.svg');
    color: aqua;
    text-align: center;
}

.blog__copyright {
    margin: 0;
    color: #494949;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.blog__sections {
    color: #333;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;

}

/*.blog__sections ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

.blog__sections ul {
    list-style-type: none;

}

.blog__sections_first-level {
    padding-left: 0;
}

.blog__sections_first-level li {
    position: relative;
    padding-left: 20px;
    
}

.blog__sections_first-level li::before {
    content: url('../img/blog-imgs/marker.svg');
    color: aqua;
    text-align: center;
    position: absolute;
    height: 24px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



/*.blog__sections_second-level li::before {
    display: none;
    content: "";
}*/

.blog__sections ul ul {
    list-style-type: none;
}

blockquote {
    text-align: start;
    padding: 24px;
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
    background-image: url("../img/blog-imgs/for-blockquote.svg");
    background-position: 1.4em 2em;
    background-repeat: no-repeat;
}

.blog__img_alt {
    color: #868686;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.25px;
    opacity: 60%;
}

.blog__centered-text {
    display: block;
    color: var(--text-primary, #333);
    text-align: center;
    padding: 2em 4em;
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    height: 168px;
    
    

    background-image: url("../img/blog-imgs/back-orange-fig.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.blog__img-with-text-on-right {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.blog__task {
    padding: 24px;
    border-radius: 16px;
    background: var(--status-yellowe-white, #FEFAEC);

    color: var(--text-primary, #333);
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.blog__task strong {
    font-weight: 700;
}

.yellow {
    background: var(--status-yellowe-white, #FEFAEC);
}

.orange {
    background: var(--status-orange-white, #FFF3EB);
}

.green {
    background: rgba(3, 178, 165, 0.10);
}

.blog__many-imgs {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.blog__img-with-bottom-text {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.blog__separator {
    display: block;
    margin: 0 auto;
}

.blog__tags {
    margin-top: 1em;
    text-decoration: none;
    color: #2963A3;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.blog__tags a:link, 
.blog__tags a:visited {
    text-decoration: none;
    color: #2963A3;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

aside {
    width: 282px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.aside__first-one {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 16px;
    background: var(--blue-b-95, #E6F0FD);
    text-align: center;
    padding: 24px;
}

.aside__first-one h1 {
    color: var(--text-primary, #333);
    
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.aside__first-one p {
    color: var(--text-primary, #333);
    
    /* Text 2 14:20 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.aside__get-more {
    margin: 1em;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    border: none;
    width: 100%;

    color: #FFF;

    text-align: center;
    /* Web/Text bold 16:24 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    &:hover {
        cursor: pointer;
    }
}

.aside__second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    
    position: relative;

    padding: 24px;

    border-radius: 16px;
    border: 1px solid #DEDEDE;

    background: #FFF;
}

.aside__second_tags {
    position: absolute;
    top: 16px;
    left: 16px;

    display: block;
    
}

.aside__second_tags p {
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
    padding: 0px 6px;
    align-items: center;

    color: var(--text-primary, #333);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
}

.aside__second_tags p:nth-child(1) {
    width: 105px;
}

.aside__second_tags p:nth-child(2) {
    width: 72px;
}

.aside__second_photo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
}

.aside__second ul {
    padding: 0;
}

.aside__psyhologist-info {
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
}

.aside__psyhologist-info h2 {
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.aside__psyhologist-info p {
    
    text-align: center;
    color: var(--neutrals-n-66, #A2A7B1);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.aside__psyhologist-info strong {
    color: var(--text-primary, #333);
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.aside__psyhologist-work strong {
    color: var(--text-primary, #333);
    /* H5 bold 16:24 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.aside__psyhologist-work li {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.aside__psyhologist-work ul {
    list-style-type: none;
    margin: 0;
}

.aside__psyhologist-work li::before {
    content: url('../img/blog-imgs/marker.svg');
    color: aqua;
    text-align: center;
}

.aside__give-care {
    background-image: url("../img/blog-imgs/gift.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 292px;
    border-radius: 16px;
}

.aside__add {
    padding: 32px;

    border-radius: 24px;
    border: 1px solid #DEDEDE;
    background: #FFF;

    background-image: url("../img/blog-imgs/gifts.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 304px;
}

.aside__add_button-buy {
    text-align: center;
    width: 108px;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    border: none;

    color: #FFF;

    /* Web/Text bold 16:24 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.right-box__el {
    display: block;
    background-image: url("../img/blog-imgs/large-item.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 686px;
    height: 606px;
  }
  .right-box {
    overflow: hidden;
    height: 606px;
    position: absolute;
    right: 0;
    top: 2404px;
    width: 218px;
  }


.blog-separator {
    display: block;
    height: 1px;
    width: 100%;
    color: #dedede;
    margin-bottom: 72px;
    margin-top: 48px;
}

.get-psychologist {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../img/blog-imgs/under-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 108px;
    position: relative;
}

.get-psychologist__wrapper {
    width: 348px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.get-psychologist__wrapper h1 {
    color: var(--text-primary, #333);
    /* H1 48:56 */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.get-psychologist__wrapper p {
    color: var(--text-primary, #333);
    /* Text 18:26 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.get-psychologist__button {
    height: 60px;
    width: 236px;
    padding: 20px ;
    border-radius: 4px;
    background: var(--button-1, #16C8BB);
    border: none;

    color: var(--text-white, #FFF);
    
    /* xl/ button */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover {
        cursor: pointer;
    }
}

.get-psychologist__image {
    width: 520px;
    height: 330px;
    background-image: url("../img/blog-imgs/he-and-she.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.get-psychologist__right-image {
    position: absolute;
    width: 73px;
    height: 243px;
    overflow: hidden;
    right: 0;
    top: 0;
}

.get-psychologist__right-image_item {
    background-image: url("../img/blog-imgs/right-bottom-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 272px;
    height: 240px;
}