footer {
    display: block;
    width: 100%;
    background-color: #2963A3;
}

.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    
    align-items: center;

    
    
}


.footer__links_nav ul{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    justify-content: center;
    
    margin: 0;
    padding-left: 0;

    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: inherit;
    width: inherit;
    justify-content:space-evenly ;
    justify-items: center; */
    list-style-type: none;
}

.footer__links_nav_el {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    

    &:hover {
        cursor: pointer;
    }
    
}


.footer__subscription {
    text-align: left;
    
    padding: 5em auto;
}

.footer__subscription h2 {
    color: #FFF;

    margin: 0;
    width: 356px;
    padding-bottom: 8px;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}
 
.footer__subscription p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;

    width: 486px;

    opacity: 0.7;
}

.footer__subscription_send-email {
    display:block;
    width: 384px;
    height: 48px;
    position: relative;
    

}

.send-email__input {
    position: relative;
    width: 384px;
    height: 48px;
    box-sizing: border-box;

    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
}

.send-email__button {
    position: absolute;
    right: 0;
    top: 0;

    height: 48px;
    padding: 14px 20px;
    border-radius: 4px;
    background: #16C8BB;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.footer__contacts {

    justify-self: center;
    
    display: flex;
    flex-direction: column;
    gap: 40px;

    
}

.footer__contacts_socials {
    width: 32px;
    height: 32px;
    background: #EFF5FB;
    border: none;
    border-radius: 50%;

    margin-right: 16px;
}

.footer__contacts_SK-part {
    width: 221px;
    height: 50px;
    background-color: rgba(0,0,0,0%);
    background-image:url("../img/footer/sk-participant.svg") ;
    background-repeat: no-repeat;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.footer__contacts_socials.VK {
    background-image:url("../img/footer/VK.svg") ;
    background-repeat: no-repeat;
    background-position: 6px 10px;

    &:hover {
        cursor: pointer;
    }
}

.footer__contacts_socials.telegram {
    background-image:url("../img/footer/messenger2.svg") ;
    background-repeat: no-repeat;
    background-position: 6px 10px;

    &:hover {
        cursor: pointer;
    }
}

.footer__contacts_socials.twitter {
    background-image:url("../img/footer/messenger3.svg") ;
    background-repeat: no-repeat;
    background-position: 7px 8px;

    &:hover {
        cursor: pointer;
    }
}

.footer__contacts_socials.soc4 {
    background-image:url("../img/footer/messenger4.svg") ;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:hover {
        cursor: pointer;
    }
}

.footer__copyrights {
    width: 85%;
    margin: 0 auto;
    padding: 16px 0 17px;

    border-top: 1px solid #9D9D9D;
}


.footer__copyrights ul  {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
    
    list-style-type: none;
}

.footer__copyrights_el {
    display: inline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;

    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 320px) and  (max-width: 413px){
    footer {
        
        padding: 35px 18px;
        padding-right: 0px;
    }

    .footer__links {
        justify-content: flex-start;
        align-items: center;
        gap: 23px;
        height: 587px;
        margin: 0;
    }

    .footer__links_nav {
        /*flex: 0 0 25%;*/
        width: 100%;
        height: 184px;
    }

    .footer__subscription {
        /*flex: 0 0 50%;*/
        width: 288px;
        
    }

    
    .footer__subscription h2,
    .footer__subscription p,
    .footer__subscription_send-email,
    .send-email__input {
        width: 288px;
    }

    .footer__contacts {
        /*flex: 0 0 15%;*/
        width: 100%;
    }

    .footer__copyrights ul {
        flex-direction: row;
    }

    .footer__copyrights {
        width: 728px;
        margin: 0;
    }

    .footer__copyrights ul {
        flex-direction: column;
        gap: 24px;
    }

}


@media (min-width: 414px) and (max-width: 767px) {
    footer {
        
        padding: 35px 19px;
        padding-right: 0px;
    }

    .footer__links {
        justify-content: flex-start;
        align-items: center;
        gap: 23px;
        height: 587px;
        margin: 0;
    }

    .footer__links_nav {
        /*flex: 0 0 25%;*/
        width: 100%;
        height: 184px;
    }

    .footer__subscription {
        /*flex: 0 0 50%;*/
        width: 375px;
        height: 170px;
    }

    .footer__subscription p {
        width: 375px;
    }

    .footer__subscription_send-email,
    .send-email__input {
        width: 375px;
    }

    .footer__contacts {
        /*flex: 0 0 15%;*/
        width: 100%;
    }

    .footer__copyrights ul {
        flex-direction: row;
    }

    .footer__copyrights {
        
        margin: 0;
    }

    .footer__copyrights ul {
        flex-direction: column;
        gap: 24px;
    }
}

@media (min-width: 768px){
    footer {
        padding: 35px 20px;
        padding-right: 0;
    }

    .footer__links {
        justify-content: flex-start;
        height: 394px;
        margin: 0;
    }

    .footer__links_nav {
        /*flex: 0 0 25%;*/
        width: 247px;
        height: 184px;
    }

    .footer__subscription {
        /*flex: 0 0 50%;*/
        width: 450px;
        height: 170px;
    }

    .footer__contacts {
        /*flex: 0 0 15%;*/
        width: 221px;
    }

    .footer__copyrights ul {
        flex-direction: row;
    }

    .footer__copyrights {
        margin: 0;
    }

}

@media (min-width: 1024px) {
    footer {
        padding-top: 40px;
    }

    .footer__links {
        padding: 40px auto 24px;
        height: 246px;
    }

    .footer__links_nav {
        /*flex: 0 0 25%;*/
        width: 247px;
        height: 184px;
    }

    .footer__subscription {
        /*flex: 0 0 50%;*/
        width: 450px;
        height: 170px;
    }

    .footer__contacts {
        /*flex: 0 0 15%;*/
        width: 221px;
    }


    .footer__copyrights ul {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {

    footer {
        padding-top: 40px;
    }

    .footer__links {
        justify-content:space-evenly;
        height: 248px;
        padding: 0;
        margin: 0;
    }
    
    
    .footer__links_nav {
        /*flex: 0 0 25%;*/
        width: 310px;
        height: 184px;
    }

    .footer__subscription {
        /*flex: 0 0 50%;*/
        width: 486px;
        height: 170px;
    }

    .footer__contacts {
        /*flex: 0 0 15%;*/
        width: 221px;
    }

    .footer__copyrights ul {
        flex-direction: row;
    }

}