header {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #EFF5FB;
}


.header__logo {
    margin: 11px 0 16px;
}

.header__menu {
    padding: 0;
}

.header__menu ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style-type: none;
}

.header__menu_el {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; /* 15.96px */
    letter-spacing: 0.25px;

    &:hover {
        cursor: pointer;
    }
}

.header__get-psyhologist_button {
    padding: 14px 20px;
    font-size: 16px;
    background-color: #E3F5F5;
    color: #03B2A5;
    font-weight: 700;
    border: none;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.header__hamburger-menu_button {
    width: 40px;
    height: 40px;
    color: #03B2A5;
    border: none;
    background-color: white;

    &:hover {
        cursor: pointer;
        background-color: whitesmoke;
    }
}

@media (min-width: 414px) {
    /*------------------ header ------------------------------------*/
    .header__menu {
        display: none;
    }

    .header__hamburger-menu_button {
        display: block;
    }

    .header__get-psyhologist_button {
        display: none;
    }

}


@media (min-width: 650px) {
    /*------------------ header ------------------------------------*/
    .header__menu {
        display: none;
    }

    .header__hamburger-menu_button {
        display: block;
    }

    .header__get-psyhologist_button {
        display: none;
    }

}

@media (min-width: 768px){
    /*------------------ header ------------------------------------*/
    .header__menu {
        display: none;
    }

    .header__hamburger-menu_button {
        display: block;
    }

    .header__get-psyhologist_button {
        display: none;
    }

}

@media (min-width: 1024px) {
    /*------------------ header ------------------------------------*/
    .header__hamburger-menu_button {
        display: none;
    }
    .header__menu {
        display: block;
    }

    .header__get-psyhologist_button {
        display: block;
    }
   
}

@media (min-width: 1440px) {
    /*------------------ header ------------------------------------*/
    .header__hamburger-menu_button {
        display: none;
    }

    .header__menu {
        display: block;
    }
    
}