@media screen and (min-width: 320px) and  (max-width: 413px) {
     /* main content */
    main {
        width: 100%;
    }


    .article {
        flex: 0 0 100%;
    }

}


@media screen and (min-width: 414px) and (max-width: 767px) {
    /* main contet */
    main {
        width: 100%;
    }


    .article {
        flex: 0 0 100%;
    }

}

@media screen and (min-width: 768px) and (max-width:1023px) {
    /* main index */
    main {
        width: 100%;
    }
    
    .article:nth-child(1),
    .article:nth-child(2) {
        flex: 0 0 100%;
    }
    
    .article {
        flex: 0 0 calc(45% - 4em);
    }

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    /* main index */
    main {
        width: 95%;
    }

    .hero {
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
    }

    .hero .article
    {
        flex: 0 0 calc(50% - 2em);
        
    }

    .other-articles {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {

    /* main index */
    main {
        width: 80%;
    }

    .hero {
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
    }

    .hero .article
    {
        flex: 0 0 calc(50% - 2em);
    }

    .other-articles {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

}